.app-layout {
    display: flex;
    height: 100vh; /* Use the full height of the viewport */
}

.nav-menu {
    flex-basis: 240px; /* Adjust the width of the nav menu */
    height: 100%; /* Full height */
    /* Additional styling for your NavMenu to make it vertical */
}

.main-content {
    flex-grow: 1; /* Take up the remaining space */
    display: flex;
    flex-direction: column; /* Stack header and container vertically */
}

header {
    color: black;
}
